/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Nov 22, 2023, 10:01:21 AM
    Author     : SKS
*/

*{
    padding:0;
    margin: 0;
}

#header{
    
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    position: sticky;
    top:0;
    left:0
    /*padding: 10px 5px;*/
    /*border: 5px solid red;*/
}

#cart{
    
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: right; 
    text-align: right;
    float: right;
    /*border:1px solid blue;*/
}

#navbar li{
    list-style: none;
    padding:20px 20px;
    align-items: center;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:#1a1a1a;
    transition: 0.3s;
}

#navbar li a:hover,
#navbar li a.active{
    color:blueviolet;
}

/*#navbar li a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background:blueviolet;
    position: absolute;
    bottom: -4px;
    left:20px
}*/

#hero{
    background-image: url("images/homeback2.jpg");
    /*background-color:#E3E6F3;*/ 
    background-repeat: no-repeat;
    background-position: top right;
    background-position: top 25% right 0 ;
    height:90vh;
    width: 88%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    /*border:1px solid red;*/  
}

#hero h4,h2,h1,p{
    padding-bottom: 25px;
}

#hero h1{
    color:blue;
}

#hero button{
    background-image: url("images/homebutton1.jpg");
    background-color: transparent;
    color:black;
    font-weight: 700;
    font-size: 15px;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    
}








    
    




